* {

    margin: 0;
    padding: 0;
}

body {
    background-color: #f5deb3;
}

h1 {
    color: #0000ff;
}

p#color_p{
    color: #008000; 
}

p.color_p{
    color: #00008b;
}

 div#menu_opciones >  ul#opciones  >  li {
    background-color: #000000;
    color: #ffffff;
}

    div#menu_opciones >  ul#opciones  >  li:hover {
        background-color:#ffffff;
        color:#000000;
    }
      
    
